@import url("https://fonts.googleapis.com/css2?family=Brygada+1918:wght@400;500;600;700&family=Ms+Madi&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  /* list-style: none; */
  text-decoration: none;
}

/* VARIABLES */
:root {
  --font-family: "Work Sans", sans-serif;
  --font-style: "Ms Madi", cursive;
  --font-aesthetic: "Baskervville", serif;
  --base-color: #000;
  --standard-color: #fff;
  --selected-color: #e1aa74;
  --hover-color: #7c3906;
  --header-bg-color: #f4dfc8;
  --base-light-color: #191919;
  --hero-bg-color: #fff8f1;
}

::selection {
  background-color: var(--selected-color);
}

section.contact-sec {
  width: 65.375rem;
  height: 100vh;
  padding: 4.5rem 0 0 22rem;
  background-color: var(--hero-bg-color);
}

section.contact-sec > h2.cont {
  font-size: 2.5rem;
  letter-spacing: 0.313rem;
  font-family: var(--font-aesthetic);
  font-weight: 500;
}

form.contact-form {
  margin-top: 2.5rem;
  width: 85%;
  /* background-color: #fff; */
  display: inline-block;
}

div.input-box {
  line-height: 3rem;
}

div.input-box > input.form-input {
  width: 100%;
  padding: 0.5rem;
  font-size: 0.9rem;
  /* background-color: v; */
  border: 2px solid var(--hover-color);
  background-color: var(--hero-bg-color);
  border-radius: 10px;
}

input.form-input:active {
  border: 2px solid var(--hover-color);
}

div.input-holder {
  display: flex;
  /* column-gap: 2.5rem; */
  gap: 5rem;
  /* width: 100vw; */
}
